<launch>
    <param name="esp32_port" type="str" value="/dev/ttyUSB0"/>
    <param name="esp32_baudrate" type="int" value="115200"/>

    <node pkg="rover_package" type="app.py" name="app_node" output="screen" />
    <node pkg="rover_package" type="chassis_control.py" name="chassis_control_node" output="screen" />
    <node pkg="rover_package" type="esp32_sensors.py" name="sensors_node" output="screen" />
    <node pkg="rover_package" type="arm_control.py" name="arm_forward_node" output="screen" />
</launch>